{% extends  'en/base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
{% block meta_description %}Our Product line{% endblock %}
{% block content %}

<head>
    <script src="/static/partnersite/JS/jquery.min.js" type="text/javascript"></script>
    <script src="/static/partnersite/JS/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/partnersite/JS/main.js" type="text/javascript"></script>
       
    
   <!-- Putting Top Content -->
   

   <section id="sp-top-content-2">
    <div class="container">
        <div class="container-inner">
            <div class="row visible-first">
                <div id="sp-content-3" class="col-lg-12">
                    <div class="sp-column">
                        <div class="sp-module title_only center">
                            <h6 class="sp-module-title visible-first">
                            </h6>
                            <div class="sp-module-content">
                                <div class="mod_custom mod_custom__title_only center"></div>
                            </div>
                        </div>
                        <div class="sp-module center">
                            <h3 class="style2 visible-first">
                                <span class="
            item_title_part_0
            item_title_part_odd
            item_title_part_first_half
            item_title_part_first
          ">Our</span>
                                <span class="
            item_title_part_1
            item_title_part_even
            item_title_part_first_half
          ">Main</span>
                                <span class="
            item_title_part_2
            item_title_part_odd
            item_title_part_second_half
            item_title_part_last
          ">Products</span>
                            </h3>
                            <div class="sp-module-content">
                                <div class="
            mod-newsflash-adv
            service
            mod-newsflash-adv__center
            cols-3
          " id="module_337">
                                    <div class="row visible-first">
                                        <article class="col-sm-4 item item_num0 item__module visible-first" id="item_249">
                                            <a href="{% url 'material_industry' %}">
                                                <div class="item_content">
                                                    <i class="linearicons-texture"></i>
                                                    <!-- Item title -->
                                                    <h4 class="item_title item_title__center visible-first">
                                                        <span class="
                        item_title_part_0
                        item_title_part_odd
                        item_title_part_first_half
                        item_title_part_first
                      ">Material</span>
                                                        <span class="
                        item_title_part_1
                        item_title_part_even
                        item_title_part_second_half
                        item_title_part_last
                      ">Industry</span>
                                                    </h4>
                                                    <!-- Introtext -->
                                                    <div class="item_introtext">
                                                        <p>You will have a meeting with one of our
                      consultants and discuss all the details
                      regarding your future project.
                    </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="col-sm-4 item item_num1 item__module visible-first" id="item_250">
                                            <a href="{% url 'daily_food_industry' %}">
                                                <div class="item_content">
                                                    <i class="linearicons-steak"></i>
                                                    <!-- Item title -->
                                                    <h4 class="item_title item_title__center visible-first">
                                                        <span class="
                        item_title_part_0
                        item_title_part_odd
                        item_title_part_first_half
                        item_title_part_first
                      ">Daily Food</span>
                                                        <span class="
                        item_title_part_1
                        item_title_part_even
                        item_title_part_second_half
                        item_title_part_last
                      ">Industry</span>
                                                    </h4>
                                                    <!-- Introtext -->
                                                    <div class="item_introtext">
                                                        <p>Whatever you need to reconstruct in your
                      house, our experts will develop a plan
                      with the best options.
                    </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="col-sm-4 item item_num2 item__module visible-first" id="item_251">
                                            <a href="{% url 'automotive_and_commercial' %}">
                                                <div class="item_content">
                                                    <i class="linearicons-chart-settings"></i>
                                                    <!-- Item title -->
                                                    <h4 class="item_title item_title__center visible-first">
                                                        <span class="
                        item_title_part_0
                        item_title_part_odd
                        item_title_part_first_half
                        item_title_part_first
                      ">Automative</span>
                                                        <span class="
                        item_title_part_1
                        item_title_part_even
                        item_title_part_first_half
                      ">&amp;</span>
                                                        <span class="
                        item_title_part_2
                        item_title_part_odd
                        item_title_part_second_half
                        item_title_part_last
                      ">Commercial</span>
                                                    </h4>
                                                    <!-- Introtext -->
                                                    <div class="item_introtext">
                                                        <p>Our team will project manage your
                      renovation and remodeling projects from
                      start to finish.
                    </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="row visible-first">
                                        <article class="col-sm-4 item item_num3 item__module visible-first" id="item_252">
                                            <a href="{% url 'medical' %}">
                                                <div class="item_content">
                                                    <i class="linearicons-heart-pulse"></i>
                                                    <!-- Item title -->
                                                    <h4 class="item_title item_title__center visible-first">
                                                        <span class="
                        item_title_part_0
                        item_title_part_odd
                        item_title_part_first_half
                        item_title_part_first
                      ">Medical</span>
                                                    </h4>
                                                    <!-- Introtext -->
                                                    <div class="item_introtext">
                                                        <p>Any of your fresh ideas can be implemented
                      in your house by our super-professional
                      interior designers.
                    </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="col-sm-4 item item_num4 item__module visible-first" id="item_253">
                                            <a href="{% url 'consulting' %}">
                                                <div class="item_content">
                                                    <i class="linearicons-headset"></i>
                                                    <!-- Item title -->
                                                    <h4 class="item_title item_title__center visible-first">
                                                        <span class="
                        item_title_part_0
                        item_title_part_odd
                        item_title_part_first_half
                        item_title_part_first
                      ">Consulting</span>
                                                    </h4>
                                                    <!-- Introtext -->
                                                    <div class="item_introtext">
                                                        <p>Our company strive promote sustainable
                      building design. They find creative
                      solutions to improve quality of your life.
                    </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="col-sm-4                                 item item_num5 item__module                                 lastItem                                visible-first" id="item_254">
                                            <a href="{% url 'dx' %}">
                                                <div class="item_content">
                                                    <i class="linearicons-laptop-phone"></i>
                                                    <!-- Item title -->
                                                    <h4 class="item_title item_title__center visible-first">
                                                        <span class="
                        item_title_part_1
                        item_title_part_even
                        item_title_part_second_half
                        item_title_part_last
                      ">Digital Transformation</span>
                                                    </h4>
                                                    <!-- Introtext -->
                                                    <div class="item_introtext">
                                                        <p>We draws on its breadth of international
                      construction experience to deliver the
                      best outcome for our clients.
                    </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sp-module center">
                            <div class="sp-module-content">
                                <div class="mod_custom mod_custom__center">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            <!-- Off Canvas Menu -->
            <div class="offcanvas-overlay"></div>
            <div class="offcanvas-menu">
                <a href="" class="close-offcanvas">
                    <span class="fa fa-remove"></span>
                </a>
                <div class="offcanvas-inner">
                    <p class="alert alert-warning">Publish modules to the "offcanvs" position.
        </p>
                </div>
            </div>
            <!-- Go to top -->
            <a href="" class="sp-scroll-up" aria-label="Scroll Up" style="display: block;">
                <span class="fa fa-chevron-up" aria-hidden="true"></span>
            </a>
            <!-- Google Tag Manager -->
            <noscript>
                <iframe src="" height="0" width="0" style="display: none; visibility: hidden"></iframe>
            </noscript>
            <!-- Code injected by live-server -->
            <script type="text/javascript">
                // <![CDATA[  <-- For SVG support
                if ('WebSocket'in window) {
                    (function() {
                        function refreshCSS() {
                            var sheets = [].slice.call(document.getElementsByTagName("link"));
                            var head = document.getElementsByTagName("head")[0];
                            for (var i = 0; i < sheets.length; ++i) {
                                var elem = sheets[i];
                                var parent = elem.parentElement || head;
                                parent.removeChild(elem);
                                var rel = elem.rel;
                                if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                                    var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                                    elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                                }
                                parent.appendChild(elem);
                            }
                        }
                        var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                        var address = protocol + window.location.host + window.location.pathname + '/ws';
                        var socket = new WebSocket(address);
                        socket.onmessage = function(msg) {
                            if (msg.data == 'reload')
                                window.location.reload();
                            else if (msg.data == 'refreshcss')
                                refreshCSS();
                        }
                        ;
                        if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                            console.log('Live reload enabled.');
                            sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                        }
                    }
                    )();
                } else {
                    console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
                }
                // ]]>
            </script>
        </div>
    </div>
</body>
</html>


{% endblock %}