{% extends  'jp/base_.html' %}

{% load static %}
{% block title %} Careers {% endblock %}
{% block meta_description %}Career Building{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en-gb">

<head>
    <title>採用情報</title>
    <script src="/static/partnersite/JS/jquery.min.js" type="text/javascript"></script>
    <script src="/static/partnersite/JS/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/partnersite/JS/main.js" type="text/javascript"></script>
       <!-- Putting Top Content -->

       <section id="sp-main-body">
        <div class="container">
            <div class="container-inner">
                <div class="row visible-first">
                    <main id="sp-component" class="col-lg-12 " role="main">
                        <div class="sp-column ">
                            <div id="system-message-container"></div>
                            <div class="gallery">
                                <header class="page_header">
                                    <h3 class="visible-first">
                                        <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">採用情報</span>
                                    </h3>
                                </header>
                                <div class="jg_subcat">
                                    <div class="row cols-3 visible-first">
                                        <div class="col-sm-4">
                                            <div class="jg_imgalign_catsubs">
                                                <div class="jg_subcatelem_photo">
                                                    <a href="{% url 'japan_' %}">
                                                        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-24898/images/joomgallery/thumbnails/gallery_2/gallery_1_9/gallery-image05_20170613_1142159046.jpg" class="jg_photo_custom" alt="Gallery">
                                                    </a>
                                                </div>
                                                <div class="jg_subcatelem_txt">
                                                    <ul>
                                                        <li>
                                                            <a href="{% url 'japan_' %}" style="left: 140px;">日本</a>
                                                        </li>
                                                    </ul>
                                                    <a title="日本" class="jg_subcatelem_txt__link" href="{% url 'japan_' %}"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="jg_imgalign_catsubs">
                                                <div class="jg_subcatelem_photo">
                                                    <a href="{% url 'apply_now_' %}">
                                                        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-24898/images/joomgallery/thumbnails/gallery_2/gallery_2_10/gallery-image11_20170613_1760941948.jpg" class="jg_photo_custom" alt="Gallery 2">
                                                    </a>
                                                </div>
                                                <div class="jg_subcatelem_txt">
                                                    <ul>
                                                        <li>
                                                            <a href="{% url 'apply_now_' %}" style="left: 150px;">経営理念</a>
                                                        </li>
                                                    </ul>
                                                    <a title="今すぐ応募" class="jg_subcatelem_txt__link" href="{% url 'apply_now_' %}"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jg_clearboth"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </section>
    

   <!-- Putting Top Content -->
            <!-- Off Canvas Menu -->
            <div class="offcanvas-overlay"></div>
            <div class="offcanvas-menu">
                <a href="" class="close-offcanvas">
                    <span class="fa fa-remove"></span>
                </a>
                <div class="offcanvas-inner">
                    <p class="alert alert-warning">Publish modules to the "offcanvs" position.
        </p>
                </div>
            </div>
            <!-- Go to top -->
            <a href="" class="sp-scroll-up" aria-label="Scroll Up" style="display: block;">
                <span class="fa fa-chevron-up" aria-hidden="true"></span>
            </a>
            <!-- Google Tag Manager -->
            <noscript>
                <iframe src="" height="0" width="0" style="display: none; visibility: hidden"></iframe>
            </noscript>
            <!-- Code injected by live-server -->
            <script type="text/javascript">
                // <![CDATA[  <-- For SVG support
                if ('WebSocket'in window) {
                    (function() {
                        function refreshCSS() {
                            var sheets = [].slice.call(document.getElementsByTagName("link"));
                            var head = document.getElementsByTagName("head")[0];
                            for (var i = 0; i < sheets.length; ++i) {
                                var elem = sheets[i];
                                var parent = elem.parentElement || head;
                                parent.removeChild(elem);
                                var rel = elem.rel;
                                if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                                    var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                                    elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                                }
                                parent.appendChild(elem);
                            }
                        }
                        var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                        var address = protocol + window.location.host + window.location.pathname + '/ws';
                        var socket = new WebSocket(address);
                        socket.onmessage = function(msg) {
                            if (msg.data == 'reload')
                                window.location.reload();
                            else if (msg.data == 'refreshcss')
                                refreshCSS();
                        }
                        ;
                        if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                            console.log('Live reload enabled.');
                            sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                        }
                    }
                    )();
                } else {
                    console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
                }
                // ]]>
            </script>
        </div>
    </div>
</body>
</html>


{% endblock %}