{% extends  'jp/base_.html' %}
{% load static %}
{% block title %}日用品・食料品・飲料{% endblock %}
{% block meta_description %}Daily Food Industry is right choice to improve your business{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <title>日用品・食料品・飲料</title>
    <script src="/static/partnersite/JS/jquery.min.js" type="text/javascript"></script>
    <script src="/static/partnersite/JS/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/partnersite/JS/main.js" type="text/javascript"></script>
       <!-- Putting Top Content -->
    
        
       <section id="sp-top-content">
        <div class="container">
            <div class="container-inner">
                <div class="row visible-first">
                    <div id="sp-content-1" class="col-lg-6">
                        <div class="sp-column">
                            <div class="sp-module">
                                <div class="sp-module-content">
                                    <div class="mod_custom mod_custom__">
                                        <figure class="item_img style1">
                                            <img src="/static/partnersite/images/dailygoods.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sp-content-2" class="col-lg-6">
                        <div class="sp-column">
                            <div class="sp-module title_only indent indent1">
                                <h6 class="sp-module-title visible-first">
                                    <span class="
                    item_title_part_0
                    item_title_part_odd
                    item_title_part_first_half
                    item_title_part_first
                    item_title_part_last
                  "></span>
                                </h6>
                                <div class="sp-module-content">
                                    <div class="
                    mod_custom mod_custom__title_only
                    indent
                    indent1
                  "></div>
                                </div>
                            </div>
                            <div class="sp-module indent">
                                <h3 class="sp-module-title visible-first">
                                    <span class="
                    item_title_part_0
                    item_title_part_odd
                    item_title_part_first_half
                    item_title_part_first
                  ">日用品・食料品・飲料</span>
                                </h3>
                                 <div class="sp-module-content">
                                        <div class="mod-article-single mod-article-single__indent" id="module_335">
                                            <div class="item__module visible-first" id="item_248">
                                                <!-- Item Title -->
                                                <!-- Intro Text -->
                                                <div class="item_introtext">
                                                    <div class="sp-module-title visible-first">
                                                        <p>顧客ニーズを起点に、日用品・食料品・飲料の原料供給、中間流通、小売までを有機的に結びつけた付加価値の高いバリューチェーンの構築を世界規模で推進いたします。その国の風土から生まれた食品・飲料と暮らしに育まれた日用品を、生産者の活動や想いとともに産地から直接お届けいたします。</p>
                                                    </div>    
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
                <!-- Off Canvas Menu -->
                <div class="offcanvas-overlay"></div>
                <div class="offcanvas-menu">
                    <a href="" class="close-offcanvas">
                        <span class="fa fa-remove"></span>
                    </a>
                    <div class="offcanvas-inner">
                        <p class="alert alert-warning">Publish modules to the "offcanvs" position.
            </p>
                    </div>
                </div>
                <!-- Go to top -->
                <a href="" class="sp-scroll-up" aria-label="Scroll Up" style="display: block;">
                    <span class="fa fa-chevron-up" aria-hidden="true"></span>
                </a>
                <!-- Google Tag Manager -->
                <noscript>
                    <iframe src="" height="0" width="0" style="display: none; visibility: hidden"></iframe>
                </noscript>
                <!-- Code injected by live-server -->
                <script type="text/javascript">
                    // <![CDATA[  <-- For SVG support
                    if ('WebSocket'in window) {
                        (function() {
                            function refreshCSS() {
                                var sheets = [].slice.call(document.getElementsByTagName("link"));
                                var head = document.getElementsByTagName("head")[0];
                                for (var i = 0; i < sheets.length; ++i) {
                                    var elem = sheets[i];
                                    var parent = elem.parentElement || head;
                                    parent.removeChild(elem);
                                    var rel = elem.rel;
                                    if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                                        var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                                        elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                                    }
                                    parent.appendChild(elem);
                                }
                            }
                            var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                            var address = protocol + window.location.host + window.location.pathname + '/ws';
                            var socket = new WebSocket(address);
                            socket.onmessage = function(msg) {
                                if (msg.data == 'reload')
                                    window.location.reload();
                                else if (msg.data == 'refreshcss')
                                    refreshCSS();
                            }
                            ;
                            if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                                console.log('Live reload enabled.');
                                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                            }
                        }
                        )();
                    } else {
                        console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
                    }
                    // ]]>
                </script>
            </div>
        </div>
</head>
</html>


{% endblock %}