{% extends  'jp/base_.html' %}
{% load static %}
{% block title %}Japan{% endblock %}
{% block meta_description %}Apply Job if you're from Japan{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="ja">


<head>
    <title>国内</title>
    <script src="/static/partnersite/JS/jquery.min.js" type="text/javascript"></script>
    <script src="/static/partnersite/JS/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/partnersite/JS/main.js" type="text/javascript"></script>
    <section id="sp-main-body">
        <div class="container">
            <div class="container-inner">
                <div class="row visible-first">
                    <main id="sp-component" class="col-lg-7 " role="main">
                        <div class="sp-column ">
                            <div id="system-message-container"></div>
                            <div class="blog blog_careers">
                                <div class="page-header">
                                    <h1 class="visible-first">
                                        <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">採用情報</span>
                                    </h1>
                                </div>
                                <div class="article-list">
                                    <div class="row visible-first">
                                        <div class="col-md-12">
                                            <div class="article " itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
                                                <!--div class="article-body">
                                                    <div class="article-header">
                                                        <h2 class="visible-first">
                                                            <a href="/joomla_prod-24898/index.php/pages/careers/110-lorem-ipsum-dolor-sit-amet">
                                                                <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">We</span>
                                                                <span class="item_title_part_1 item_title_part_even item_title_part_first_half">truly</span>
                                                                <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">believe</span>
                                                                <span class="item_title_part_3 item_title_part_even item_title_part_first_half">that</span>
                                                                <span class="item_title_part_4 item_title_part_odd item_title_part_first_half">the</span>
                                                                <span class="item_title_part_5 item_title_part_even item_title_part_first_half">success</span>
                                                                <span class="item_title_part_6 item_title_part_odd item_title_part_first_half">of</span>
                                                                <span class="item_title_part_7 item_title_part_even item_title_part_second_half">our</span>
                                                                <span class="item_title_part_8 item_title_part_odd item_title_part_second_half">business</span>
                                                                <span class="item_title_part_9 item_title_part_even item_title_part_second_half">depends</span>
                                                                <span class="item_title_part_10 item_title_part_odd item_title_part_second_half">on</span>
                                                                <span class="item_title_part_11 item_title_part_even item_title_part_second_half">our</span>
                                                                <span class="item_title_part_12 item_title_part_odd item_title_part_second_half item_title_part_last">employees.</span>
                                                            </a>
                                                        </h2>
                                                    </div-->
                                                    <div class="article-introtext">
                                                        <!--p>We offer excellent opportunities for individuals seeking to strive and flourish in the research and consultancy industry, focusing on their professional as well as personal development. Our distinctive environment offers careers that are exciting, challenging and rewarding. We encourage our people to learn, experiment and grow - for both their own personal benefit and the company’s.</p-->
                                                        <div class="moduletable">
                                                            <div class="mod-bootstrap-collapse mod-bootstrap-collapse__">
                                                                <div class="accordion collapse show" id="accordion_159" style="">
                                                                    <div class="card">
                                                                        <div class="card-header" id="heading_159_116">
                                                                            <a class="card-header-title collapsed" data-toggle="collapse" href="#" data-target="#collapse_159_116" aria-expanded="false" aria-controls="collapse_159_116">
                                                                                <span class="heading_icon"></span>
                                                                                <h3>国内</h3>  
                                                                            </a>
                                                                            <h3>バックオフィススタッフ</h3>  
                                                                        </div>
                                                                        <div id="collapse_159_116" class="collapse-block collapse" aria-labelledby="heading_159_116" data-parent="#accordion_159" style="">
                                                                            <div class="card-body">
                                                                                <!-- Intro Image -->
                                                                                <!-- Introtext -->
                                                                                <div class="item_introtext">
                                                                                    <p>仕事の内容：</p>
                                                                                        <p>・総務/経理/人事/情報システム業務等</p>
                                                                                        <p>・マーケティング及び事業計画業務</p>
                                                                                        <p>・物流倉庫及び配送手配</p>
                                                                                        <p>・販売、仕入及び物流管理</p>
                                                                                        <p>・バックオフィス業務全般</p>
                                                                                        
                                                                                    <p> 必要な能力・経験：</p>
                                                                                        <p>・資料作成が得意、几帳面な方</p>
                                                                                        <p>・iWork又はMicrosoftOfficeに関する十分な知識</p>
                                                                                        <p>・日商簿記検定3級資格を有する方歓迎.</p>
                                                                                </div>
                                                                                <!-- Read More link -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--div class="card">
                                                                        <div class="card-header" id="heading_159_115">
                                                                            <a class="card-header-title collapsed" data-toggle="collapse" href="#" data-target="#collapse_159_115" aria-expanded="true" aria-controls="collapse_159_115">
                                                                                <span class="heading_icon"></span>
                                                                                Business Program Managers (BPM)    
                                                                            </a>
                                                                        </div>
                                                                        <div id="collapse_159_115" class="collapse-block collapse " aria-labelledby="heading_159_115" data-parent="#accordion_159">
                                                                            <div class="card-body">
                                                                                <div class="item_introtext">
                                                                                    <div class="moduletable expect">
                                                                                        <ul class="menu">
                                                                                            <li class="item-325 menu-divider">
                                                                                                <span class="menu-separator ">Design and build applications/ components using open source technology.</span>
                                                                                            </li>
                                                                                            <li class="item-326 menu-divider">
                                                                                                <span class="menu-separator ">Taking complete ownership of the deliveries assigned.</span>
                                                                                            </li>
                                                                                            <li class="item-327 menu-divider">
                                                                                                <span class="menu-separator ">Collaborate with cross-functional teams to define, design, and ship new features.</span>
                                                                                            </li>
                                                                                            <li class="item-328 menu-divider">
                                                                                                <span class="menu-separator ">Work with outside data sources and API's.</span>
                                                                                            </li>
                                                                                            <li class="item-329 menu-divider">
                                                                                                <span class="menu-separator ">Unit-test code for robustness, including edge cases, usability, and general reliability.</span>
                                                                                            </li>
                                                                                            <li class="item-330 menu-divider">
                                                                                                <span class="menu-separator ">Work on bug fixing and improving application performance.</span>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div-->
                                                                    <!--div class="card">
                                                                        <div class="card-header" id="heading_159_114">
                                                                            <a class="card-header-title collapsed" data-toggle="collapse" href="#" data-target="#collapse_159_114" aria-expanded="false" aria-controls="collapse_159_114">
                                                                                <span class="heading_icon"></span>
                                                                                Business intelligence (BI) professionals    
                                                                            </a>
                                                                        </div>
                                                                        <div id="collapse_159_114" class="collapse-block collapse" aria-labelledby="heading_159_114" data-parent="#accordion_159" style="">
                                                                            <div class="card-body">
                                                                                <div class="item_introtext">
                                                                                    <div class="moduletable requirements">
                                                                                        <ul class="menu">
                                                                                            <li class="item-317 menu-divider">
                                                                                                <span class="menu-separator ">B.Tech./ B.E / MCA degree in Computer Science, Engineering or a related stream.</span>
                                                                                            </li>
                                                                                            <li class="item-318 menu-divider">
                                                                                                <span class="menu-separator ">3+ years of software development experience.</span>
                                                                                            </li>
                                                                                            <li class="item-319 menu-divider">
                                                                                                <span class="menu-separator ">3+ years of Python / Java development projects experience.</span>
                                                                                            </li>
                                                                                            <li class="item-320 menu-divider">
                                                                                                <span class="menu-separator ">Minimum of 4 live project roll outs.</span>
                                                                                            </li>
                                                                                            <li class="item-321 menu-divider">
                                                                                                <span class="menu-separator ">Experience with third-party libraries and APIs.</span>
                                                                                            </li>
                                                                                            <li class="item-322 menu-divider">
                                                                                                <span class="menu-separator ">In depth understanding and experience of either SDLC or PDLC.</span>
                                                                                            </li>
                                                                                            <li class="item-323 menu-divider">
                                                                                                <span class="menu-separator ">Good Communication Skills</span>
                                                                                            </li>
                                                                                            <li class="item-324 menu-divider">
                                                                                                <span class="menu-separator ">Team Player</span>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div-->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--div class="col-md-12">
                                            <div class="article " itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
                                                <div class="article-body">
                                                    <div class="article-header">
                                                        <h2 class="visible-first">
                                                            <a href="/joomla_prod-24898/index.php/pages/careers/111-etiam-in-neque-non-sapien-lobortis">
                                                                <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">The</span>
                                                                <span class="item_title_part_1 item_title_part_even item_title_part_first_half">Sunday</span>
                                                                <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">Times</span>
                                                                <span class="item_title_part_3 item_title_part_even item_title_part_first_half">Best</span>
                                                                <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">Company</span>
                                                                <span class="item_title_part_5 item_title_part_even item_title_part_second_half">to</span>
                                                                <span class="item_title_part_6 item_title_part_odd item_title_part_second_half">work</span>
                                                                <span class="item_title_part_7 item_title_part_even item_title_part_second_half item_title_part_last">for</span>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="article-introtext">
                                                        <p>We’re proud to say that our office has made The Sunday Times Best Small Companies to work for list at our first attempt. Our Company is the top-ranking research consultancy in the small companies category to have achieved a listing, achieving 50th place out of the top 100  companies  recognised as great places to work in the UK. The accolade acknowledges “that senior employees truly live the values of the firm”, that people say “their jobs are good for growth” and the company “clearly values new ideas from employees”. We received top rankings for the My Manager, Personal Growth and Fair Deal categories. This is truly a testament to the talented collection of people, special energy and morale we have at The Futures Company.</p>
                                                        <div class="moduletable">
                                                            <div class="mod-bootstrap-collapse mod-bootstrap-collapse__">
                                                                <div class="accordion collapse show" id="accordion_163" style="">
                                                                    <div class="card active">
                                                                        <div class="card-header active" id="heading_163_116">
                                                                            <a class="card-header-title collapsed" data-toggle="collapse" href="#" data-target="#collapse_163_116" aria-expanded="true" aria-controls="collapse_163_116">
                                                                                <span class="heading_icon"></span>
                                                                                Software Engineers (SWE)    
                                                                            </a>
                                                                        </div>
                                                                        <div id="collapse_163_116" class="collapse-block collapse show" aria-labelledby="heading_163_116" data-parent="#accordion_163">
                                                                            <div class="card-body">

                                                                                <div class="item_introtext">
                                                                                    <p>They’re responsible for production code quality and service performance, and accountable for automation of test cases to enable flighting. These engineers can evaluate requirements, estimate costs, design, implement, validate and measure to understand the quality of the end users’ experience. They can improve engineering processes, assure quality, communicate status, and manage risks.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div-->
                                                                    <!--div class="card ">
                                                                        <div class="card-header " id="heading_163_115">
                                                                            <a class="card-header-title collapsed" data-toggle="collapse" href="#" data-target="#collapse_163_115" aria-expanded="true" aria-controls="collapse_163_115">
                                                                                <span class="heading_icon"></span>
                                                                                Business Program Managers (BPM)    
                                                                            </a>
                                                                        </div>
                                                                        <div id="collapse_163_115" class="collapse-block collapse " aria-labelledby="heading_163_115" data-parent="#accordion_163">
                                                                            <div class="card-body">
                                                                                <div class="item_introtext">
                                                                                    <div class="moduletable expect">
                                                                                        <ul class="menu">
                                                                                            <li class="item-325 menu-divider">
                                                                                                <span class="menu-separator ">Design and build applications/ components using open source technology.</span>
                                                                                            </li>
                                                                                            <li class="item-326 menu-divider">
                                                                                                <span class="menu-separator ">Taking complete ownership of the deliveries assigned.</span>
                                                                                            </li>
                                                                                            <li class="item-327 menu-divider">
                                                                                                <span class="menu-separator ">Collaborate with cross-functional teams to define, design, and ship new features.</span>
                                                                                            </li>
                                                                                            <li class="item-328 menu-divider">
                                                                                                <span class="menu-separator ">Work with outside data sources and API's.</span>
                                                                                            </li>
                                                                                            <li class="item-329 menu-divider">
                                                                                                <span class="menu-separator ">Unit-test code for robustness, including edge cases, usability, and general reliability.</span>
                                                                                            </li>
                                                                                            <li class="item-330 menu-divider">
                                                                                                <span class="menu-separator ">Work on bug fixing and improving application performance.</span>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div-->
                                                                    <!--div class="card">
                                                                        <div class="card-header " id="heading_163_114">
                                                                            <a class="card-header-title collapsed" data-toggle="collapse" href="#" data-target="#collapse_163_114" aria-expanded="true" aria-controls="collapse_163_114">
                                                                                <span class="heading_icon"></span>
                                                                                Business intelligence (BI) professionals    
                                                                            </a>
                                                                        </div>
                                                                        <div id="collapse_163_114" class="collapse-block collapse " aria-labelledby="heading_163_114" data-parent="#accordion_163">
                                                                            <div class="card-body">
                                                                                <div class="item_introtext">
                                                                                    <div class="moduletable requirements">
                                                                                        <ul class="menu">
                                                                                            <li class="item-317 menu-divider">
                                                                                                <span class="menu-separator ">B.Tech./ B.E / MCA degree in Computer Science, Engineering or a related stream.</span>
                                                                                            </li>
                                                                                            <li class="item-318 menu-divider">
                                                                                                <span class="menu-separator ">3+ years of software development experience.</span>
                                                                                            </li>
                                                                                            <li class="item-319 menu-divider">
                                                                                                <span class="menu-separator ">3+ years of Python / Java development projects experience.</span>
                                                                                            </li>
                                                                                            <li class="item-320 menu-divider">
                                                                                                <span class="menu-separator ">Minimum of 4 live project roll outs.</span>
                                                                                            </li>
                                                                                            <li class="item-321 menu-divider">
                                                                                                <span class="menu-separator ">Experience with third-party libraries and APIs.</span>
                                                                                            </li>
                                                                                            <li class="item-322 menu-divider">
                                                                                                <span class="menu-separator ">In depth understanding and experience of either SDLC or PDLC.</span>
                                                                                            </li>
                                                                                            <li class="item-323 menu-divider">
                                                                                                <span class="menu-separator ">Good Communication Skills</span>
                                                                                            </li>
                                                                                            <li class="item-324 menu-divider">
                                                                                                <span class="menu-separator ">Team Player</span>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <!--aside id="sp-right" class="col-lg-5 ">
                        <div class="sp-column ">
                            <div class="sp-module careers_form">
                                <h3 class="sp-module-title visible-first">
                                    <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Apply</span>
                                    <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">now</span>
                                </h3>
                                <div class="sp-module-content">
                                    <div class="pretext">Fill in the application form below and get your dream career of a lifetime.</div>
                                    <div id="contact_160">
                                        <form class="mod_tm_ajax_contact_form mod_tm_ajax_contact_form_careers_form no-edit" id="contact-form_160" novalidate="novalidate">
                                            <input type="hidden" id="module_id" name="module_id" value="160">
                                            <div class="mod_tm_ajax_contact_form_message" id="message_160">
                                                <span class="s">Thank You! Your message has been sent.</span>
                                                <span class="e">Something went wrong, please try again later.</span>
                                                <span class="c">Please enter a correct Captcha answer.</span>
                                            </div>
                                            <fieldset>
                                                <div class="row visible-first">
                                                    <div class="control control-group-input col-sm-6">
                                                        <div class="control">
                                                            <input type="text" placeholder="Name" name="name" id="name_0_160" class="mod_tm_ajax_contact_form_text" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-6">
                                                        <div class="control">
                                                            <input type="text" placeholder="Last Name" name="lastname" id="lastname_1_160" class="mod_tm_ajax_contact_form_text" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-12">
                                                        <div class="control">
                                                            <input type="email" placeholder="Email" name="email" id="email_2_160" class="mod_tm_ajax_contact_form_email" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-6">
                                                        <div class="control">
                                                            <input type="text" placeholder="Age" name="age" id="age_3_160" class="mod_tm_ajax_contact_form_text" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-6">
                                                        <div class="control">
                                                            <input type="text" placeholder="City" name="city" id="city_4_160" class="mod_tm_ajax_contact_form_text" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-12">
                                                        <div class="control">
                                                            <select name="position" id="position_5_160" class="mod_tm_ajax_contact_form_select" required="" style="display: none;" aria-required="true" data-value="Position">
                                                                <option value="test" disabled="" selected="">Position</option>
                                                                <option value="Chief Accountant">Chief Accountant</option>
                                                                <option value="Sales manager">Sales manager</option>
                                                                <option value="Sales assistant">Sales assistant</option>
                                                                <option value="Office manager">Office manager</option>
                                                            </select>
                                                            <div class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 100%;" title="" id="position_5_160_chzn">
                                                                <div class="chzn-drop">
                                                                    <div class="chzn-search">
                                                                        <input type="text" autocomplete="off" readonly="">
                                                                    </div>
                                                                    <ul class="chzn-results"></ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-6">
                                                        <div class="control">
                                                            <input type="text" placeholder="Expected Salary" name="salary" id="salary_6_160" class="mod_tm_ajax_contact_form_text" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-6">
                                                        <div class="control">
                                                            <input type="text" placeholder="Start Date" name="date" id="date_7_160" class="mod_tm_ajax_contact_form_text">
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-12">
                                                        <div class="control">
                                                            <input type="text" placeholder="Website" name="website" id="website_8_160" class="mod_tm_ajax_contact_form_text">
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-12">
                                                        <div class="control">
                                                            <textarea name="experience" placeholder="Experience" id="experience_9_160" class="mod_tm_ajax_contact_form_textarea" data-autosize-on="true" style="overflow: hidden; overflow-wrap: break-word; height: 71px;"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="control control-group-input col-sm-12">
                                                        <div class="control">
                                                            <textarea name="application" placeholder="Application" id="application_10_160" class="mod_tm_ajax_contact_form_textarea" required="" data-autosize-on="true" style="overflow: hidden; overflow-wrap: break-word; height: 71px;" aria-required="true"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="checkbox-area">
                                                            <span class="checkbox">
                                                                <input type="checkbox" name="checkbox-gdpr_160" id="gdpr-check_160" class="gdpr-checkbox" required="" aria-required="true">
                                                                <label class="checkbox_inner" for="gdpr-check_160"></label>
                                                            </span>
                                                            <label for="checkbox-gdpr_160" title="By checking this box, you give permission to use your personal data within the EU's General Data Protection Regulation (GDPR)" class="checkbox_label">By checking this box, you give permission to use your personal data within the EU's General Data Protection Regulation (GDPR)</label>
                                                        </div>
                                                    </div-->
                                                    <!-- Submit Button -->
                                                    <!--div class="control control-group-button col-sm-12">
                                                        <div class="control">
                                                            <button type="submit" class="btn btn-primary mod_tm_ajax_contact_form_btn">Send</button>
                                                        </div>
                                                    </div>
                                                </div-->
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>  
</head>
</html>



{% endblock %}