<div id="demo2">
    <div class="slicknav_menu">
        <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;">
            <span class="slicknav_menutxt"></span>
            <span class="slicknav_icon slicknav_no-text">
                <span class="slicknav_icon-bar"></span>
                <span class="slicknav_icon-bar"></span>
                <span class="slicknav_icon-bar"></span>
            </span></a>
        <ul class="slicknav_nav slicknav_hidden" style="display: none;" aria-hidden="true" role="menu">
            <li class="slicknav_parent slicknav_collapsed">
                <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"> Parent 2
                    <span class="slicknav_arrow">►</span>
                </a>
                <ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
                    <li>
                        <a href="#" role="menuitem" tabindex="-1">item 3</a>
                    </li>
                    <li class="slicknav_collapsed slicknav_parent">
                        <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">Parent 3
                            <span class="slicknav_arrow">►</span></a>
                        <ul role="menu" aria-hidden="true" class="slicknav_hidden" style="display: none;">
                            <li><a href="#" role="menuitem" tabindex="-1">item 8</a></li>
                            <li><a href="#" role="menuitem" tabindex="-1">item 9</a></li>
                            <li><a href="#" role="menuitem" tabindex="-1">item 10</a></li>
                        </ul>
                    </li>
                    <li><a href="#" role="menuitem" tabindex="-1">item 4</a></li>
                </ul>
            </li>
            <li><a href="#" role="menuitem" tabindex="-1">item 1</a></li>
            <li class="slicknav_txtnode">non-link item</li>
            <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true"
                    tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">Parent 2
                    <span class="slicknav_arrow">►</span></a>
                <ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
                    <li><a href="#" role="menuitem" tabindex="-1">item 5</a></li>
                    <li><a href="#" role="menuitem" tabindex="-1">item 6</a></li>
                    <li><a href="#" role="menuitem" tabindex="-1">item 7</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>